{"openapi":"3.1.0","info":{"title":"Ionic Commerce | API","description":"Ionic Commerce API","contact":{"email":"info@ioniccommerce.com"},"version":"0.1"},"servers":[{"url":"https://api.ioniccommerce.com"}],"paths":{"/query":{"post":{"summary":"Product Search","description":"API for searching for products & recommendations.","operationId":"query","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAPIRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAPIResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}]}},"/products/link":{"post":{"summary":"Ionic Commerce | Create Product Link","description":"Creates and returns a tagged affiliate link","operationId":"create_product_link","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductLinkRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductLinkResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}]}}},"components":{"schemas":{"ClientDetails":{"properties":{"user_agent":{"type":"string","title":"User Agent"},"ip":{"type":"string","title":"Ip"}},"type":"object","required":["user_agent","ip"],"title":"ClientDetails"},"CreateProductLinkPrice":{"properties":{"amount":{"type":"integer","title":"Amount"},"currency":{"type":"string","title":"Currency"}},"type":"object","required":["amount","currency"],"title":"CreateProductLinkPrice"},"CreateProductLinkQuery":{"properties":{"q":{"type":"string","title":"Q"}},"type":"object","required":["q"],"title":"CreateProductLinkQuery"},"CreateProductLinkRequest":{"properties":{"idempotency_key":{"type":"string","title":"Idempotency Key"},"reference_id":{"type":"string","title":"Reference Id"},"user_details":{"$ref":"#/components/schemas/UserDetails"},"client_details":{"$ref":"#/components/schemas/ClientDetails"},"query":{"$ref":"#/components/schemas/CreateProductLinkQuery"},"product":{"$ref":"#/components/schemas/CreateProductLinkRequestProduct"}},"type":"object","required":["user_details","client_details","query","product"],"title":"CreateProductLinkRequest"},"CreateProductLinkRequestProduct":{"properties":{"title":{"type":"string","title":"Title"},"link":{"type":"string","title":"Link"},"image_url":{"type":"string","title":"Image Url"},"identifiers":{"additionalProperties":{"type":"integer"},"type":"object","title":"Identifiers"},"price":{"$ref":"#/components/schemas/CreateProductLinkPrice"},"reference_id":{"type":"string","title":"Reference Id"}},"type":"object","required":["title","link","identifiers","price"],"title":"CreateProductLinkRequestProduct"},"CreateProductLinkResponse":{"properties":{"id":{"type":"string","title":"Id"},"partner_key":{"type":"string","title":"Partner Key"},"idempotency_key":{"type":"string","title":"Idempotency Key"},"reference_id":{"type":"string","title":"Reference Id"},"product":{"$ref":"#/components/schemas/CreateProductLinkResponseProduct"}},"type":"object","required":["id","partner_key","product"],"title":"CreateProductLinkResponse"},"CreateProductLinkResponseProduct":{"properties":{"reference_id":{"type":"string","title":"Reference Id"},"links":{"$ref":"#/components/schemas/TaggedLink"},"extensions":{"title":"Extensions"}},"type":"object","required":["links"],"title":"CreateProductLinkResponseProduct"},"Extension":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExtensionObject"},"type":"array","title":"Data"}},"type":"object","required":["data"],"title":"Extension"},"ExtensionImages":{"properties":{"thumbnail":{"type":"string","title":"Thumbnail"}},"type":"object","title":"ExtensionImages"},"ExtensionLinks":{"properties":{"tagged":{"type":"string","title":"Tagged"},"original":{"type":"string","title":"Original"}},"type":"object","title":"ExtensionLinks"},"ExtensionObject":{"properties":{"title":{"type":"string","title":"Title"},"price":{"$ref":"#/components/schemas/PriceWithCurrency"},"links":{"$ref":"#/components/schemas/ExtensionLinks"},"images":{"$ref":"#/components/schemas/ExtensionImages"}},"type":"object","required":["title","price","links","images"],"title":"ExtensionObject"},"Extensions":{"properties":{"merchants":{"$ref":"#/components/schemas/Extension"}},"type":"object","required":["merchants"],"title":"Extensions"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Link":{"properties":{"url":{"type":"string","title":"Url"},"text":{"type":"string","title":"Text"},"type":{"type":"string","title":"Type"}},"type":"object","required":["url","text","type"],"title":"Link"},"Message":{"properties":{"role":{"$ref":"#/components/schemas/MessageRole"},"type":{"$ref":"#/components/schemas/MessageType"},"content":{"type":"string","title":"Content"}},"type":"object","required":["role","type","content"],"title":"Message"},"MessageRole":{"enum":["user","assistant","system"],"title":"MessageRole","description":"An enumeration."},"MessageType":{"enum":["message","summary","filter","tag"],"title":"MessageType","description":"An enumeration."},"PriceWithCurrency":{"properties":{"amount":{"type":"integer","title":"Amount"},"currency":{"type":"string","title":"Currency"}},"type":"object","required":["amount","currency"],"title":"PriceWithCurrency"},"Product":{"properties":{"merchant_product_id":{"type":"string","title":"Merchant Product Id"},"merchant_name":{"type":"string","title":"Merchant Name"},"name":{"type":"string","title":"Name"},"brand_name":{"type":"string","title":"Brand Name"},"links":{"items":{"$ref":"#/components/schemas/Link"},"type":"array","title":"Links"},"thumbnail":{"type":"string","title":"Thumbnail"},"upc":{"type":"string","title":"Upc"},"status":{"type":"string","title":"Status"},"price":{"type":"string","title":"Price"},"extensions":{"$ref":"#/components/schemas/Extensions"}},"type":"object","required":["merchant_product_id","merchant_name","name","links","status","price"],"title":"Product"},"Query":{"properties":{"query":{"type":"string","title":"Query"},"num_results":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Num Results","default":5},"min_price":{"type":"integer","maximum":1000000.0,"minimum":0.0,"title":"Min Price"},"max_price":{"type":"integer","maximum":1000000.0,"minimum":0.0,"title":"Max Price"}},"type":"object","required":["query"],"title":"Query"},"QueryAPIRequest":{"properties":{"query":{"$ref":"#/components/schemas/Query"},"session":{"$ref":"#/components/schemas/Session"},"messages":{"items":{"$ref":"#/components/schemas/Message"},"type":"array","title":"Messages"}},"type":"object","required":["query"],"title":"QueryAPIRequest"},"QueryAPIResponse":{"properties":{"token":{"type":"string","title":"Token"},"results":{"items":{"$ref":"#/components/schemas/QueryResult"},"type":"array","title":"Results"}},"type":"object","required":["token"],"title":"QueryAPIResponse"},"QueryResult":{"properties":{"query":{"$ref":"#/components/schemas/Query"},"products":{"items":{"$ref":"#/components/schemas/Product"},"type":"array","title":"Products"}},"type":"object","required":["query","products"],"title":"QueryResult"},"Session":{"properties":{"session_id":{"type":"string","title":"Session Id"},"user_id":{"type":"string","title":"User Id"},"locale":{"type":"string","title":"Locale","default":"en-US"}},"type":"object","title":"Session"},"TaggedLink":{"properties":{"original":{"type":"string","title":"Original"},"tagged":{"type":"string","title":"Tagged"},"id":{"type":"integer","title":"Id"}},"type":"object","required":["original","tagged","id"],"title":"TaggedLink"},"UserDetails":{"properties":{"id":{"type":"string","title":"Id"},"email":{"type":"string","title":"Email"},"postal_code":{"type":"string","title":"Postal Code"}},"type":"object","required":["id"],"title":"UserDetails"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"x-api-key"},"APIKeyQuery":{"type":"apiKey","in":"query","name":"api_key"}}}}