{"openapi":"3.1.0","info":{"title":"Ionic Shopping API","description":"Product Search & Recommendation API","contact":{"email":"hello@ionicapi.com"},"version":"0.1"},"servers":[{"url":"https://api.ionicapi.com"}],"paths":{"/query":{"post":{"summary":"Multi-Query Product Search.","description":"API for searching for products & recommendations. Accepts multiple query objects.","operationId":"query","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAPIRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAPIResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}]}}},"components":{"schemas":{"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Link":{"properties":{"url":{"type":"string","title":"Url"},"text":{"type":"string","title":"Text"},"type":{"type":"string","title":"Type"}},"type":"object","required":["url","text","type"],"title":"Link"},"Message":{"properties":{"role":{"$ref":"#/components/schemas/MessageRole"},"type":{"$ref":"#/components/schemas/MessageType"},"content":{"type":"string","title":"Content"}},"type":"object","required":["role","type","content"],"title":"Message"},"MessageRole":{"enum":["user","assistant","system"],"title":"MessageRole","description":"An enumeration."},"MessageType":{"enum":["message","summary","filter","tag"],"title":"MessageType","description":"An enumeration."},"Product":{"properties":{"merchant_product_id":{"type":"string","title":"Merchant Product Id"},"merchant_name":{"type":"string","title":"Merchant Name"},"name":{"type":"string","title":"Name"},"brand_name":{"type":"string","title":"Brand Name"},"links":{"items":{"$ref":"#/components/schemas/Link"},"type":"array","title":"Links"},"thumbnail":{"type":"string","title":"Thumbnail"},"upc":{"type":"string","title":"Upc"},"status":{"type":"string","title":"Status"},"price":{"type":"string","title":"Price"}},"type":"object","required":["merchant_product_id","merchant_name","name","links","thumbnail","status","price"],"title":"Product"},"Query":{"properties":{"query":{"type":"string","title":"Query"},"num_results":{"type":"integer","maximum":10.0,"minimum":1.0,"title":"Num Results","default":5},"min_price":{"type":"integer","maximum":1000000.0,"minimum":0.0,"title":"Min Price"},"max_price":{"type":"integer","maximum":1000000.0,"minimum":0.0,"title":"Max Price"}},"type":"object","required":["query"],"title":"Query"},"QueryAPIRequest":{"properties":{"query":{"$ref":"#/components/schemas/Query"},"session":{"$ref":"#/components/schemas/Session"},"messages":{"items":{"$ref":"#/components/schemas/Message"},"type":"array","title":"Messages"}},"type":"object","required":["query"],"title":"QueryAPIRequest"},"QueryAPIResponse":{"properties":{"token":{"type":"string","title":"Token"},"results":{"items":{"$ref":"#/components/schemas/QueryResult"},"type":"array","title":"Results"}},"type":"object","required":["token"],"title":"QueryAPIResponse"},"QueryResult":{"properties":{"query":{"$ref":"#/components/schemas/Query"},"products":{"items":{"$ref":"#/components/schemas/Product"},"type":"array","title":"Products"}},"type":"object","required":["query","products"],"title":"QueryResult"},"Session":{"properties":{"session_id":{"type":"string","title":"Session Id"},"user_id":{"type":"string","title":"User Id"},"locale":{"type":"string","title":"Locale"}},"type":"object","required":["session_id","user_id","locale"],"title":"Session"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"x-api-key"},"APIKeyQuery":{"type":"apiKey","in":"query","name":"api_key"}}}}