{"openapi":"3.1.0","info":{"title":"Ionic Shopping API","description":"Product Search & Recommendation API","contact":{"email":"hello@ionicapi.com"},"version":"0.1"},"servers":[{"url":"https://api.ionicapi.com"}],"paths":{"/query":{"post":{"summary":"Multi-Query Product Search.","description":"API for searching for products & recommendations. Accepts multiple query objects.","operationId":"query","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAPIRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAPIResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"APIKeyHeader":[]},{"APIKeyQuery":[]}]}}},"components":{"schemas":{"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"Link":{"properties":{"url":{"type":"string","title":"Url"},"text":{"type":"string","title":"Text"},"type":{"type":"string","title":"Type"}},"type":"object","required":["url","text","type"],"title":"Link"},"Product":{"properties":{"merchant_product_id":{"type":"string","title":"Merchant Product Id"},"merchant_name":{"type":"string","title":"Merchant Name"},"name":{"type":"string","title":"Name"},"brand_name":{"type":"string","title":"Brand Name"},"links":{"items":{"$ref":"#/components/schemas/Link"},"type":"array","title":"Links"},"thumbnail":{"type":"string","title":"Thumbnail"},"status":{"type":"string","title":"Status"},"price":{"type":"string","title":"Price"}},"type":"object","required":["merchant_product_id","merchant_name","name","links","thumbnail","status","price"],"title":"Product"},"Query":{"properties":{"query":{"type":"string","title":"Query"},"num_results":{"type":"integer","title":"Num Results"}},"type":"object","required":["query"],"title":"Query"},"QueryAPIRequest":{"properties":{"queries":{"items":{"$ref":"#/components/schemas/Query"},"type":"array","title":"Queries"}},"type":"object","title":"QueryAPIRequest"},"QueryAPIResponse":{"properties":{"token":{"type":"string","title":"Token"},"results":{"items":{"$ref":"#/components/schemas/QueryResult"},"type":"array","title":"Results"},"human_message":{"type":"string","title":"Human Message"}},"type":"object","required":["token"],"title":"QueryAPIResponse"},"QueryResult":{"properties":{"query":{"$ref":"#/components/schemas/Query"},"products":{"items":{"$ref":"#/components/schemas/Product"},"type":"array","title":"Products"}},"type":"object","required":["query","products"],"title":"QueryResult"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"APIKeyHeader":{"type":"apiKey","in":"header","name":"x-api-key"},"APIKeyQuery":{"type":"apiKey","in":"query","name":"api_key"}}}}